<a href="https://colab.research.google.com/github/iseulNa/lab/blob/main/loops_conditions_lists_dicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문과 조건문

In [ ]:
# 반복문

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 1 - 10까지 입력하는 경우

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 조건문

if 5 > 3:
    print("5가 3보다 크다")

5가 3보다 크다

In [ ]:
a = 10
b = 15

In [ ]:
if a > b:
  print (f"{a}가 {b}보다 크다")
else:
  print (f"{a}가 {b}보다 작다")

10가 15보다 작다

In [ ]:
# list
list_a = [5,2,6,1,8,7]

for i in range(len(list_a)):
    print(list_a[i])

for i in list_a:
    i += 5    #  i = i + 5
    print(i)

5
2
6
1
8
7
10
7
11
6
13
12

In [ ]:
# list 연산

list_a = [1,2,3]
list_b = [4,5,6]


list_c = list_a + list_b
print(list_c)

list_d = list_a * 3
print(list_d)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 확인
A = len(list_a)
print(A)

# 리스트 내의 값 정렬
list_d.sort()
print(list_d)

3
[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [ ]:
# dict
# key에는 각 항목을 구별하는 고유한 값. 문자열, 숫자 등 불변(immutable) 값이어야 함
# value에는 어떤 객체도 가능(숫자, 문자열, 리스트 등)

dictionary = {
    "key" : "value"
}

# 딕셔너리 생성
person = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}

In [ ]:
# 값 접근
print(person['name'])  # Alice
print(person['age'])   # 25

# 값 수정
person['age'] = 26
print(person['age'])   # 26

Alice
25
26

In [ ]:
# 딕셔너리의 모든 키와 값 출력
for key, value in person.items():
    print(key, ":", value)

# 딕셔너리 길이
print(len(person))  # 3 (현재 항목 수)

name : Alice
age : 26
city : New York
3

In [ ]:
for i in person:
    print(i)

name
age
city

In [ ]:
for i in person.values():
    print(i)

Alice
26
New York

In [ ]:
name = "iseul"

if name in person.values():
    print("있음")
else:
    print("없음")

없음